{% extends 'base.html' %}{% load static %}{% block content %}

<!-- Revolution slider start -->
<div class="tp-banner-container">
  <div class="tp-banner">
    <ul>
        {% for i in context.images %}
      <li data-slotamount="7" data-transition="3dcurtain-horizontal" data-masterspeed="1000" data-saveperformance="on"> <img alt="" src="{% static 'images/dummy.png' %}" data-lazyload="media/{{ i }}">
        <div class="caption lft large-title tp-resizeme slidertext2" data-x="center" data-y="170" data-speed="600" data-start="1600"><span> Education Bright Future </span></div>
{#        <div class="caption lfb large-title tp-resizeme slidertext3" data-x="center" data-y="260" data-speed="600" data-start="2200"> </div>#}
        <div class="caption lfb large-title tp-resizeme slidertext4" data-x="330" data-y="350" data-speed="600" data-start="2800"> <a href="{% url 'ContactUs' %}"><i class="fas fa-edit"></i> Enroll Today</a> </div>
        <div class="caption lfb large-title tp-resizeme slidertext4 slidertext5" data-x="610" data-y="350" data-speed="600" data-start="3400"> <a href="{% url 'Teachers' %}"><i class="far fa-calendar-alt"></i> Our Faculties</a> </div>
      </li>
        {% endfor %}
      </ul>
  </div>
</div>
<!-- Revolution slider end -->
<!-- School Start -->
<div class="our-course-categories-two ">
  <div class="container">
    <div class="categories_wrap">
      <ul class="row unorderList">
        <li class="col-lg-3 col-md-6"> 
          <!-- single-course-categories -->
          <div class="categories-course">
            <div class="item-inner">
              <div class="cours-icon"> <span class="coure-icon-inner"> <img src="{% static 'images/book.png' %}" alt=""> </span> </div>
              <div class="cours-title">
                <h4>Circular</h4>
                <p>Admissions Open</p>
              </div>
            </div>
          </div>
          <!--// single-course-categories --> 
        </li>
        <li class="col-lg-3 col-md-6"> 
          <!-- single-course-categories -->
          <div class="categories-course" >
            <div class="item-inner">
              <div class="cours-icon"> <span class="coure-icon-inner"> <img src="{% static 'images/support.png' %}" alt=""> </span> </div>
              <div class="cours-title">
                <h4>Healthy Meals</h4>
                <p>A sound eating routine is one that keeps up or enhance general wellbeing. A solid eating regimen furnishes the body with fundamental nourishment: liquid, satisfactory basic amino acids from protein, basic unsaturated fats, vitamins, minerals, and sufficient calories.</p>
              </div>
            </div>
          </div>
          <!--// single-course-categories --> 
        </li>
        <li class="col-lg-3 col-md-6">
          <!-- single-course-categories -->
          <div class="categories-course">
            <div class="item-inner">
              <div class="cours-icon"> <span class="coure-icon-inner"> <img src="{% static 'images/teacher.png' %}" alt=""> </span> </div>
              <div class="cours-title">
                <h4>Academic mentoring</h4>
                <p>You will be able to discuss feedback and assessment information given, discuss any difficulties you are facing, to talk about your targets and how you work.</p>
              </div>
            </div>
          </div>
          <!--// single-course-categories -->
        </li>
        <li class="col-lg-3 col-md-6"> 
          <!-- single-course-categories -->
          <div class="categories-course">
            <div class="item-inner">
              <div class="cours-icon"> <span class="coure-icon-inner"> <img src="{% static 'images/scholarship.png' %}" alt=""> </span> </div>
              <div class="cours-title">
                <h4>Scholarship News</h4>
                <p>Good Scholarship oppurtunities</p>
              </div>
            </div>
          </div>
          <!--// single-course-categories --> 
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- School End --> 

<!-- About Start -->
<div class="about-wrap " id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="aboutImg"><img src="{% static 'images/aboutImg.png' %}" alt=""></div>
      </div>
      <div class="col-lg-5">
        <div class="about_box">
          <div class="title">
            <h1>Sri Kamalam Vidyalaya School  <span>Early Learning</span></h1>
          </div>
          <p>Vivekananda Vidyalaya Matriculation Hr. Sec. School was started in the year 1981 as a primary school and was ungraded to a matriculation school with the great patronage from the parents. </p>
          <ul class="edu_list">
            <li>
              <div class="learing-wrp">
                <div class="edu_icon"><img src="{% static 'images/education.png' %}"></div>
                <div class="learn_info">
                  <h3>Education</h3>
                  <p>Higher secondary classes have been started in the year 1998. Tamil Medium for +1 and +2 has started in 2007.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="learing-wrp">
                <div class="edu_icon"><img src="{% static 'images/academy.png' %}"></div>
                <div class="learn_info">
                  <h3>Location</h3>
                  <p>The school is located in a spacious and peaceful surrounding. </p>
                </div>
              </div>
            </li>
            <li>
              <div class="learing-wrp">
                <div class="edu_icon"><img src="{% static 'images/class.png' %}"></div>
                <div class="learn_info">
                  <h3>Aesthetic Campus</h3>
                  <p>The aesthetically designed campus has ultra modern facilities with spacious class rooms, separate labs for Biology, Physics, Chemistry, and Computer with Internet facility and English language lab.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End --> 

<!-- Classes Start -->
<div class="class-wrap">
  <div class="container">
    <div class="title">
      <h1> Our Popular Classes </h1>
    </div>
    <ul class="owl-carousel  ">
      <li class="item">
        <div class="class_box">
          <div class="class_Img"><img src="{% static 'images/education_img.jpg' %}" alt="">
            <div class="time_box"><span>08:00 am - 10:00 am</span></div>
          </div>
          <div class="path_box">
            <h3><a href="index.html#">Education Programs System</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="students_box">
              <div class="students">Students: 30</div>
              <div class="stud_fee">Fee: $150</div>
            </div>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="class_box">
          <div class="class_Img"><img src="{% static 'images/kid_game.jpg' %}" alt="">
            <div class="time_box"><span>08:00 am - 10:00 am</span></div>
          </div>
          <div class="path_box">
            <h3><a href="index.html#">Games Program held in a Week</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh dolor.</p>
            <div class="students_box">
              <div class="students">Students: 30</div>
              <div class="stud_fee">Fee: $150</div>
            </div>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="class_box">
          <div class="class_Img"><img src="{% static 'images/lab.jpg' %}" alt="">
            <div class="time_box"><span>08:00 am - 10:00 am</span></div>
          </div>
          <div class="path_box">
            <h3><a href="index.html#">Labs Programs</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh dolor, gravida faucibus dolor adipiscing consectetur.</p>
            <div class="students_box">
              <div class="students">Students: 30</div>
              <div class="stud_fee">Fee: $150</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- Classes End --> 

<!-- Choice Start -->
<div class="choice-wrap ">
  <div class="container">
    <div class="title">
      <h1>We Are The Best <span>Choice For Your Child</span></h1>
    </div>
      <div class="counter">
            <div class="counter-inner">
                <h3 class="timer count-number" data-to="19" data-speed="1500">20</h3>
                <p>Years of Experience</p>
            </div>
      </div>
      <div class="counter">
        <div class="counter-inner">
            <h3 class="timer count-number" data-to="19" data-speed="1500">50</h3>
            <p>Qualified Teachers</p>
        </div>
      </div>
      <div class="counter">
        <div class="counter-inner">
            <h3 class="timer count-number" data-to="19" data-speed="1500">500</h3>
            <p>Happy Children</p>
        </div>
      </div>
      <div class="counter">
    <div class="counter-inner">
        <h3 class="timer count-number" data-to="19" data-speed="1500">45</h3>
        <p>Total Activities</p>
    </div>
  </div>
  </div>
</div>
<!-- Choice End --> 

<!-- Video Start -->
<div class="video-wrap">
  <div class="container">
    <div class="title center_title">
      <h1>Watch Our Video</h1>
    </div>
  {% for i in context.videos %}
    <div class="video">
      <div class="playbtn"><a data-fancybox="" href="media/{{ i }}"><span></span></a></div>
    </div>
  {% endfor %}
  </div>
</div>
<!-- Video End -->

<!-- Gallery Start -->
<div class="gallery-wrap ">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="gallery_box">
          <div class="gallery_left">
            <div class="title">
              <h1>Photo Gallery</h1>
            </div>
            <p>Ultra modern facilities with spacious class rooms, separate labs for Biology, Physics, Chemistry, and Computer with Internet facility and English language lab.</p>
            <div class="readmore"><a href="{% url 'ImageGallery' %}">View All Gallery</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
            {% for i in context.images %}
          <div class="col-lg-4 col-md-6">
            <div class="galleryImg"><img src="media/{{ i }}" alt="">
              <div class="portfolio-overley">
                <div class="content"> <a href="media/{{ i }}" class="fancybox image-link" data-fancybox="images" title="Image Caption Here"><i class="fas fa-search-plus"></i></a> </div>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Gallery End -->
<!-- Testimonials Start -->
<div class="testimonials-wrap ">
  <div class="container">
    <div class="title">
      <p>Testimoinials</p>
      <h1> What Parents Say </h1>
    </div>
    <ul class="owl-carousel testimonials_list unorderList">
      <li class="item">
        <div class="testimonials_sec">
          <div class="client_box">
            <div class="clientImg"><img alt="" src="{% static 'images/comment-img-1.jpg' %}"></div>
            <ul class="unorderList starWrp">
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
            </ul>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur elit. Phasellus porttitor leo id tortor cursus, a gravida sem feugiat. Maecenas nisl libero, lobortis id hendrerit sed, fermentum ut nunc. Duis condimentum tincidunt posuere.</p>
          <h3>David Malan <span>Aliquam sodales</span></h3>
          <div class="quote_icon"><i class="fas fa-quote-left"></i></div>
        </div>
      </li>
      <li class="item">
        <div class="testimonials_sec">
          <div class="client_box">
            <div class="clientImg"><img alt="" src="{% static 'images/comment-img-2.jpg' %}"></div>
            <ul class="unorderList starWrp">
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
            </ul>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur elit. Phasellus porttitor leo id tortor cursus, a gravida sem feugiat. Maecenas nisl libero, lobortis id hendrerit sed, fermentum ut nunc. Duis condimentum tincidunt posuere. </p>
          <h3>David Malan <span>Aliquam sodales</span></h3>
          <div class="quote_icon"><i class="fas fa-quote-left"></i></div>
        </div>
      </li>
      <li class="item">
        <div class="testimonials_sec">
          <div class="client_box">
            <div class="clientImg"><img alt="" src="{% static 'images/comment-img-3.jpg' %}"></div>
            <ul class="unorderList starWrp">
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
            </ul>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur elit. Phasellus porttitor leo id tortor cursus, a gravida sem feugiat. Maecenas nisl libero, lobortis id hendrerit sed, fermentum ut nunc. Duis condimentum tincidunt posuere.</p>
          <h3>David Malan <span>Aliquam sodales</span></h3>
          <div class="quote_icon"><i class="fas fa-quote-left"></i></div>
        </div>
      </li>
      <li class="item">
        <div class="testimonials_sec">
          <div class="client_box">
            <div class="clientImg"><img alt="" src="{% static 'images/comment-img-1.jpg' %}"></div>
            <ul class="unorderList starWrp">
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
            </ul>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur elit. Phasellus porttitor leo id tortor cursus, a gravida sem feugiat. Maecenas nisl libero, lobortis id hendrerit sed, fermentum ut nunc. Duis condimentum tincidunt posuere.</p>
          <h3>David Malan <span>Aliquam sodales</span></h3>
          <div class="quote_icon"><i class="fas fa-quote-left"></i></div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- Testimonials End --> 

<!-- Enroll Start -->
<div class="choice-wrap enroll-wrap ">
  <div class="container">
    <div class="title">
      <h1>Visit School or Call for Enquiry</h1>
    </div>
{#    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at eleifend est. Donec dictum at diam ut finibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Class aptent taciti sociosqu ad litora torquent.</p>#}
    <div class="phonewrp"><img src="{% static 'images/phone_icon.png' %}"><a href="about.html#">+919944779523</a></div>
  </div>
</div>
<!-- Enroll End --> 

<!-- Teacher Start -->
<section class="teachers-area-three teacher-wrap pt-100 pb-70  ">
  <div class="container">
    <div class="title center_title">
      <h1>Our Teachers</h1>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single-teachers">
          <div class="teacherImg"> <img src="{% static 'images/teachers01.jpg' %}" alt="Image">
            <ul class="social-icons list-inline">
              <!-- social-icons -->
              <li class="social-facebook"> <a href="index.html#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> </li>
              <li class="social-twitter"> <a href="index.html"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
              <li class="social-linkedin"> <a href="index.html#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a> </li>
              <li class="social-googleplus"> <a href="index.html#"><i class="fab fa-instagram" aria-hidden="true"></i></a> </li>
            </ul>
          </div>
          <div class="teachers-content">
            <h3>Stella Roffin</h3>
            <div class="designation">Art teacher</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-teachers">
          <div class="teacherImg"> <img src="{% static 'images/teachers02.jpg' %}" alt="Image">
            <ul class="social-icons list-inline">
              <!-- social-icons -->
              <li class="social-facebook"> <a href="index.html#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> </li>
              <li class="social-twitter"> <a href="index.html"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
              <li class="social-linkedin"> <a href="index.html#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a> </li>
              <li class="social-googleplus"> <a href="index.html#"><i class="fab fa-instagram" aria-hidden="true"></i></a> </li>
            </ul>
          </div>
          <div class="teachers-content">
            <h3>Chris Miller</h3>
            <div class="designation">Mathematic</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-teachers">
          <div class="teacherImg"> <img src="{% static 'images/teachers03.jpg' %}" alt="Image">
            <ul class="social-icons list-inline">
              <!-- social-icons -->
              <li class="social-facebook"> <a href="index.html#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> </li>
              <li class="social-twitter"> <a href="index.html"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
              <li class="social-linkedin"> <a href="index.html#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a> </li>
              <li class="social-googleplus"> <a href="index.html#"><i class="fab fa-instagram" aria-hidden="true"></i></a> </li>
            </ul>
          </div>
          <div class="teachers-content">
            <h3>Jesica Matt</h3>
            <div class="designation">English Teacher</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-teachers">
          <div class="teacherImg"> <img src="{% static 'images/teachers04.jpg' %}" alt="Image">
            <ul class="social-icons list-inline">
              <!-- social-icons -->
              <li class="social-facebook"> <a href="index.html#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> </li>
              <li class="social-twitter"> <a href="index.html"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
              <li class="social-linkedin"> <a href="index.html#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a> </li>
              <li class="social-googleplus"> <a href="index.html#"><i class="fab fa-instagram" aria-hidden="true"></i></a> </li>
            </ul>
          </div>
          <div class="teachers-content">
            <h3>Lena Bodie</h3>
            <div class="designation">Science Teacher</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Teacher Start --> 

<!-- Blog Start -->
<div class="blog-wrap flight-wrap ">
  <div class="container">
    <div class="title">
      <h1> Our Blog </h1>
    </div>
    <ul class="row unorderList">
      <li class="col-lg-4">
        <div class="blog_box">
          <div class="blogImg"><img src="{% static 'images/blog1.jpg' %}" alt="">
            <div class="time_box"><span>08:00 am - 10:00 am</span></div>
          </div>
          <div class="path_box">
            <h3><a href="index.html#">Education Programs</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh dolor gravida.</p>
          </div>
        </div>
      </li>
      <li class="col-lg-4">
        <div class="blog_box">
          <div class="blogImg"><img src="{% static 'images/blog2.jpg' %}" alt="">
            <div class="time_box"><span>08:00 am - 10:00 am</span></div>
          </div>
          <div class="path_box">
            <h3><a href="index.html#">Games Program</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh dolor, gravida faucibus dolor consectetur.</p>
          </div>
        </div>
      </li>
      <li class="col-lg-4">
        <div class="blog_box">
          <div class="blogImg"><img src="{% static 'images/blog3.jpg' %}" alt="">
            <div class="time_box"><span>08:00 am - 10:00 am</span></div>
          </div>
          <div class="path_box">
            <h3><a href="index.html#">Labs Programs</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh dolor, gravida faucibus dolor consectetur.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- Blog End --> 

<!--Newsletter Start-->
{#<div class="newsletter-wrap ">#}
{#  <div class="container">#}
{#    <div class="row">#}
{#      <div class="col-lg-6">#}
{#        <div class="title">#}
{#          <h1>Newsletter</h1>#}
{#        </div>#}
{#        <p>Lorem ipsum dolor sit amet consectetur.</p>#}
{#      </div>#}
{#      <div class="col-lg-6">#}
{#        <div class="news-info">#}
{#          <form>#}
{#            <div class="input-group">#}
{#              <input type="text" class="form-control" name="search" placeholder="Email Address">#}
{#              <div class="form_icon"><i class="fas fa-envelope"></i></div>#}
{#            </div>#}
{#            <button class="sigup">Sign Up</button>#}
{#          </form>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
<!--Newsletter End-->

{% endblock %}